body {
    font-family: 'Brush Script MT', cursive;
    background: linear-gradient(#fdf14a, brown, rgb(53, 13, 13)) fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: black;
}
header h2 {
    text-shadow: 3px 3px whitesmoke;
    margin-left: 5em;
    font-family:arial black;
    font-size:50px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header h1 {
    text-shadow: 3px 3px whitesmoke;
    font-size:70px;
    margin-top: -.75em;
    margin-left: 4.4em;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    line-height: 1em;
    text-shadow: .5px .5px grey;
    letter-spacing: -.02em;
}
ul {
    font-size: 1.2em;
}
a:hover {
    color:red;
}
.contentWrapper {
    margin: 0;
    max-width: 1170px;
    padding: 0 3.0em;
}
header {
    background-image: url(img/tortilla_background.webp);
    margin: 0 0 1.0em;
    padding: 2em 2em 0.5em 0; 
    box-shadow: #000 2px 2px 2px 2px;
}
nav {
    color: #000;
    font-size: 1em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: blue;
}

nav li {
    display: inline-block;
    margin: 0;
}
nav li a {
    color: rgb(121, 121, 5);
}

nav li a:hover {
    color: red;
}
nav#topMenu {
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35;
    background-color: rgba(64,54,47,0.8);
    background-position: top 25px;
}
nav#topMenu li {
    border-bottom: 100px ;
    vertical-align: middle;
}
.taco1 {
    margin-top: -275px;
    float: left;
}
section#sidebar {
    width: 220px;
    float: right;
    position: relative;
    background-image: url(img/tortilla_background.webp);
    margin: .5em 0 3.0em 1.5em;
    padding: .7em 0.5em 2.0em 1.7em;
    box-shadow: black 2px 2px 2px 2px;
}
section#main {
    background-image: url(img/tortilla_background.webp);
    width: 55em;
}
section div.panel {
    float: left;
    position: relative;
    width: 230px;
    margin: 0 0.5em 1.0em 0.5em;
    padding: .50em;
    background-image: url(img/tortilla_background.webp);
    border-radius: 0.6em;
    box-shadow: black 2px 2px 2px 2px;
}
section div.panel img.tacotype {
    width: 100%;
    position: relative;
}

footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: lime;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#bottomFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
    color:#000;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
    color:#000;
}
footer a {
    color:#000;
}
footer a:hover {
    color: #fff;
    text-decoration: blink;
}
.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}
div.clear {
    clear: left;
    font-size: 1%;
}
button {
    color:brown;
    animation: shake 2s ;
}
button:hover {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: .5s;
    cursor: pointer;
}
@keyframes shake{
    0%{transform: translateX(0)}
    25%{transform: translateX(25px);}
    50%{transform: translateX(-25px);}
    100%{transform: translateX(0px);}
}
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}